html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

P#output {
	text-align: center
}

DIV#controls > INPUT {
	font-size: 5em;
	padding: 10px;
}

DIV#controls > BUTTON {
	font-size: 5em;
	padding: 10px;
}

DIV#map {
	height: 40%;
	width: 40%;
}